a {
    text-decoration: none !important;
}

a:visited {
    color: #484040 !important; 
}

body {
    cursor: url("./images/pika.gif"), auto;
}

.first-page {
    background-image: url("https://i.ibb.co/w4SbkWq/txJ7lD.jpg");
    background-size: 100% 100%;
}

.logo-container {
    text-align: center;
}

.macro-container {
    display: flex;
}

.text-container {
    color: white;
    font-size: 20px;
    background: rgba(4, 194, 0, 0.8);
    border-radius: 14px;
    border-width: 20px;
    width: 80%;
    text-align: center;
    height: 450px;
    align-items: center;
    justify-content: flex-end;
    font-family: b612 mono;
    padding: 10px;
}

p {
    font-size: 28px;
}

.boy, .girl {
    height: 850px;
}

.poke-button {
    background-color: aliceblue;
    border-radius: 50px;
    border-style: groove;
    cursor: pointer;
    transition: transform .3s ease;
    opacity: 0.8;
}

.poke-button:hover {
    cursor: url(https://cdn.custom-cursor.com/db/249/32/arrow2282.png) , pointer! important;
    border: 1px solid white;
    transform:scale(1.2);
    box-shadow: 1px 1px 23px 2px rgb(242, 239, 243);
    opacity: 1;
}


.poke-logo {
    width: 350px;
    height: 350px;
    justify-content: auto;
}

.second-logo {
    justify-content: auto;
    text-align: center;
}

.pokeball {
    height: 150px;
    width: 150px;
}

/*.pokeball:hover {
    -webkit-transform: rotate(360deg);transform: rotate(360deg);
    cursor: pointer;
}
*/

.kanto-link, .johto-link {
    background-color: #FFCB05;
    outline: none;
    text-decoration: none;
    font-family: b612 mono;
    font-size: 60px;
    font-weight: bold;
    margin: auto;
    margin-top: 5%;

}

.kanto, .johto {
    border-radius: 42px;
    border: 15px solid #FFCB05;
    width: 570px;
    height: 550px;
}

.kanto {
    margin-left: 5%;
}

.johto {
    margin-right: 5%;
}

.kanto-link, .johto-link {
    width: 25%;
    font-size: 45px;
    text-align: center;
    border-radius: 14px;
    border-color: #FFCB05;
    border-style: solid;
    border-width: 20px;
    padding: 14px;
    text-decoration: none;
    display: inline;
    justify-content: space-between;
    margin-bottom: 15px;
    transition: transform .3s ease;
}

.kanto-link:hover, .johto-link:hover {
    transform:scale(1.2);
    box-shadow: 1px 1px 23px 2px rgb(243, 243, 239);
}

.second-page {
    display: none;
    background: linear-gradient(to bottom,#DA099F,#721B9B,#1F62B0);
}

.sec-tittle {
    color: #FFCB05;
    font-size: 45px;
    text-align: center;
    font-family: b612 mono;
}

.images-container {
    display: flex;
    justify-content: space-between;
    
}

.pikachu {
    justify-content: auto;
    height: 350px;

}

ul {
    display: flex;
    list-style: none;
}

.pokemon-image{
    width: 200px;
    height: 200px;

}

li:hover {
    transform:scale(1.2);
    cursor: url(https://cdn.custom-cursor.com/db/249/32/arrow2282.png) , pointer! important;
}

.pokemon-image {
    border-radius: 100%;
}

.poke-image {
    width: 100%;
    font-size: 45px;
    text-align: center;
    border-radius: 14px;
    border-color: #FFCB05;
    border-style: solid;
    border-width: 20px;
    padding: 14px;
    text-decoration: none;
    display: inline;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    background-color: #DEE6E8;
}

.poke-image:hover{
    -webkit-transform:scale(0.1);transform:scale(1.1);
    cursor: pointer;
    box-shadow: 1px 1px 23px 2px rgb(37, 1, 46);
    opacity: 2.1;    
}


.kanto-location {
    display: none;
    background: linear-gradient(to bottom,#DA099F,#721B9B,#1F62B0);
}

.johto-location {
    display: none;
    background: linear-gradient(to bottom,#DA099F,#721B9B,#1F62B0);
}

.kanto-region {
    background-color: #FFCB05;
    border-radius: 14px;
    width: 450px;
    text-align: center;
}

.region-one {
    display: flex;
    justify-content: center;
}

.region-two {
    display: flex;
    justify-content: center;
    font-family: b612 mono;
    font-size: 40px;
    color: #484040;
    padding: 6px;
}

.kanto-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.johto-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.johto-region {
    background-color: #FFCB05;
    border-radius: 14px;
    width: 450px;
    text-align: center;
    font-family: b612 mono;
    font-size: 40px;
    color: #484040;
    padding: 6px;
}

.page-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .poke-number {
    color: #FFFFFF;
    font-size: 28px;
    font-family: roboto;
    width: 215px;
    height: 51px;
    text-align: center;
    line-height:170%;
  }
  
  .card-image {
    width: 350px;
    height: 402px;
    display: flex;
  }
  
  .information-card {
    display: inline-block;
    background: linear-gradient(to bottom,#DA099F,#721B9B,#1F62B0);
    background-size: 100% 100%;
    align-items: stretch;
  }
  
  .card-container {
    display: flex;
    align-items: center;
    background-size: 100% 100%;
    padding: 10px;
    width: 100%;
    justify-content: space-around;
  }
  
  .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 10%;
  }
  
  .circle {
    width: 402px;
    height: 402px;
    border-radius: 50%;
    background-color: #DEE6E8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .info-container {
    display: flex;
    flex-direction: column;
    border-radius: 35px;
    border: solid 15px #FFCB05;
    padding: 10px;
    background-color: #484040;
    width: 50%;
  }
  
  .poke-description {
    display: flex;
    justify-content: center;
    background-color: #484040;
    border-color: #FFCB05;
    flex-wrap: wrap;
  }
  
  .card-name {
    color: #484040;
    background-color: #FFCB05;
    border-radius: 21px;
    font-size: 28px;
    font-family: roboto;
    width: 215px;
    height: 51px;
    text-align: center;
    line-height:170%;
  }
  
  .about {
    font-size: 27px;
    font-family: roboto;
    color: #FFFFFF;
    text-align: justify;
    padding: 30px;
  }
  
  .pokemon-height, .pokemon-weight, .pokemon-type {
    color: #484040;
    background-color: #FFCB05;
    border-radius: 21px;
    font-size: 28px;
    font-family: roboto;
    text-align: center;
    line-height:170%;
  }
  
  .height, .weight, .type-icon {
    font-family: roboto;
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
  }
  

.information-card {
    display: none;
}



/*.pokemon-name{
    font-family: roboto;
    color: #484040;
    background-color: #FFCB05;
    border-radius: 21px;
    width: 250px;
    font-weight: medium;
    font-size: 32px;
}

.card-image{
    width: 402px;
    height: 402px;
    display: flex;
    justify-content: flex-start;
}

.circle{
    width: 402px;
    height: 402px;
    border-radius: 50%;
    background-color: #DEE6E8;
    display: flex;
    justify-content: flex-start;
}

.card-name{
    font-size: 50px;
    font-family: b612 Mono;
    color: #484040;
    background-color: #FFCB05;
    border-radius: 21px;
    width: 464px;
    height: 74px;
    text-align: center;
    line-height:150%;
    margin: 5% 10% 0 15% ; 
}

.card-about{
    font-size: 27px;
    font-family: roboto;
    color: #FFFFFF;
    text-align: justify;
    padding: 30px;
}

.pokemon-height, .pokemon-weight, .pokemon-type{
    color: #484040;
    background-color: #FFCB05;
    border-radius: 21px;
    font-size: 28px;
    font-family: roboto;
    width: 215px;
    height: 51px;
    text-align: center;
    line-height:170%;
}

.height{
    font-family: roboto;
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;    
}
    
.weight{
    font-family: roboto;
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;    
}

.card-container{
    background-color: #484040;
    border-color: #FFCB05;
    border-radius: 30px;
    width: 702px;
    height: 592px;
    margin-left: 500px;
    position: absolute;
    box-sizing: content-box;
    text-align: center;
}

.characteristics{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.values{
    display: flex;
    justify-content: space-around;
}

.type-icon{
    width: 70px;
    height: 70px;
    margin-top: 30px;
    text-align: center;
}*/
